body {
    background-color: #1a1918;
}

nav {
    background-color: #ffb663;
}

.tutorial-main-container {
    margin-top: 100px; 
    margin-bottom: 5%;
    width: 90%;
}

.tutorial-content-container {
    margin-top: 2%; 
    width: 90%;
}

.code-block {
    border-radius: 15px;
}

.content-list li:not(:last-child) {
    margin-bottom: 10px;
}

.content-list li:not(:first-child) {
    margin-top: 20px;
}